.card-outer-container {
  background: black;
  height: 100vh;
}
.add-item-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.add-btn:disabled {
  background: rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}

.card-container {
  background: linear-gradient(to right, crimson, black);
  color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
}

.todo-item {
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;
}
.todo-btn {
  width: 80%;
  overflow: auto;
  height: 40px;
  border-radius: 20px;
}

.add-btn {
  width: 55px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}
input:checked ~ .todo-btn {
  text-decoration: line-through;
}
